
@font-face {
  font-family: 'Nerko One';
  src: url(polices/NerkoOne-Regular.ttf);
}

@font-face {
  font-family: 'Lobster';
  src: url(polices/Lobster-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(polices/Lato-Regular.ttf);
}

html, body {
  background-image: url(images/background.jpg);
  background-size: 110%
}

header {
  top: 0;
  left: 0;
  position:fixed; 
  width: 100%;
  background-color: #ffc404;
  z-index: 1 ;
  border-bottom: 6px solid rgb(196, 23, 24);
}

#logo_foodtruck{
  display: inline-block;
  vertical-align: middle;
}

#menu{
  display: inline-block;
  vertical-align: middle;
  
}

#menu a {
  font-family:'Nerko One', cursive;
  font-size: x-large;
  background-color: rgb(196, 23, 24);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(196, 23, 24);
  border-radius: 8px;
  margin-right:25px;
  padding: 0px 50px 0px 50px;
}

header img{
  padding: 20px;
  height: 90px;
}

body {
  margin-top: 150px;
}

h1 {
  margin: 20px 500px 20px 500px;
  font-family: 'Nerko One', cursive;
  border: 3px solid #329E61;
  border-radius: 4px;
  background-color: #329E61; 
  text-align: center;
  text-transform: uppercase;
}

#anglais {
  right:10px;
  position: fixed;
}

section {
  background-color: #ffc404;
  border: 3px solid #ffc404;
  border-radius: 4px;
  margin: 0px 50px 0px 50px;  
}

.intro {
  display: flex;
}

.intro p{
  font-size: 20px;
  font-family: 'Lato', cursive;
  margin-left: 5px;
}

.intro img {
  float: right;
  height: auto;
  width: auto;
}

.histoire{
  display: flex;
}

.histoire p{
  font-size: 20px;
  font-family: 'Lato', cursive;
}

.histoire img{
  margin-right: 5px;
}

.ethique p{
  font-size: 20px;
  font-family: 'Lato', cursive;
  text-align: center;
}

footer{
  margin-top:25px;
  background-color:#ffc404;
  border-radius: 4px;
  border: 3px solid #ffc404; 
}

footer p {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}

footer a {
  font-family:'Nerko One', cursive;
  font-size: 18px;
  background-color: rgb(196, 23, 24);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(196, 23, 24);
  border-radius: 8px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

#mentions_legales {
display: inline-block;
}

.portfoliolink {
  border-radius: 10px;
  margin: 20px 20px 0 0;
  display: absolute;
  float: right;
  background-color: white;
  width: fit-content;
  padding: 10px;
  transition: 0.3s;
}

.portfoliolink a {
  font-family: OpenSauceOne;
  color: #252525;
  text-decoration: none;
}

.portfoliolink:hover{
  scale: 110%;
}
