@font-face {
  font-family: 'Nerko One';
  src: url(polices/NerkoOne-Regular.ttf);
}

@font-face {
  font-family: 'Lobster';
  src: url(polices/Lobster-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(polices/Lato-Regular.ttf);
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url(../polices/OpenSauceOne-Bold.ttf);
}

html,
body {
  background-image: url(images/background.jpg);
  background-size: 110%;
  overflow: hidden;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #ffc404;
  z-index: 1;
  border-bottom: 6px solid rgb(196, 23, 24);
}

#logo_foodtruck {
  display: inline-block;
  vertical-align: middle;
}

#menu {
  display: inline-block;
  vertical-align: middle;

}

#menu a {
  font-family: 'Nerko One', cursive;
  font-size: x-large;
  background-color: rgb(196, 23, 24);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(196, 23, 24);
  border-radius: 8px;
  margin-right: 25px;
  padding: 0px 50px 0px 50px;
}

header img {
  padding: 20px;
  height: 90px;
}

body {
  margin-top: 150px;
}

.zone_titre h1 {
  text-align: center;
  color: black;
  font-family: 'Nerko One', cursive;
  font-size: 65px;
  margin: 20px 100px 20px 100px;
  font-family: 'Nerko One', cursive;
  border: 3px solid #329E61;
  border-radius: 4px;
  background-color: #329E61;
  text-align: center;
  text-transform: uppercase;
}

#accueil {
  background-color: #ffc404;
  border-radius: 4px;
  border: 3px solid #ffc404;
  margin-left: 165px;
  margin-right: 165px;
  position: static;
  margin-bottom: 120px
}

#accueil h1,
p {
  font-family: 'Lobster', cursive;
  text-align: center;
}

#accueil p {
  font-size: 20px
}

#accueil_images {
  display: flex;
  justify-content: center;
}

#accueil_images img {
  padding: 0px 10px 10px 10px;
}

footer {
  background-color: #ffc404;
  border-radius: 4px;
  border: 3px solid #ffc404;
}

footer p {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}

footer a {
  font-family: 'Nerko One', cursive;
  font-size: 18px;
  background-color: rgb(196, 23, 24);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(196, 23, 24);
  border-radius: 8px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

#mentions_legales {
  display: inline-block;
}

.portfoliolink {
  border-radius: 10px;
  margin: 20px 20px 0 0;
  display: absolute;
  float: right;
  background-color: white;
  width: fit-content;
  padding: 10px;
  transition: 0.3s;
}

.portfoliolink a {
  font-family: OpenSauceOne;
  color: #252525;
  text-decoration: none;
}

.portfoliolink:hover{
  scale: 110%;
}